*.aab
*.iml
.DS_Store
.cxx
.externalNativeBuild
.gradle
/.idea/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
keystore.jks
keystore.properties
local.properties
fastlane/fastlane.json
fastlane/report.xml
.kotlin/
/graphics/mockups/
/app/build/
/graphics/release-demo/
/app/src/main/java/org/fossify/documents/activities/replay_pid31521.log
